@model AgroExpress.DataLayer.ViewModel.MilkproductionList

@{
    ViewBag.Title = "Milk Production List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<link href="~/Content/ListStylesRuku.css" rel="stylesheet" />*@
<script src="~/Scripts/jquery.min.js"></script>
<h2 style="text-align:center">Milk Production List</h2>
<br />
<style>

    input, select {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
    }

    th, td {
        text-align: center;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script type="text/javascript">
        $(function () {
            $("#VAnimalTypeId").change(function () {

                var AnimalTypeID = $("#VAnimalTypeId :selected").val();
                var url = '../Animal/GetFemaleAnimalListForType';
                var data1 = { "animalTypeID": AnimalTypeID };

                $.post(url, data1, function (data) {
                    var items = [];
                    items.push("<option value=" + null + ">" + "Select Animal" + "</option>");
                    for (var i = 0; i < data.length; i++) {

                        items.push("<option value=" + data[i].Value + ">" + data[i].Text + "</option>");
                    }
                    $("#MAnimalId").html(items.join(' '));
                })
            });
        });
    </script>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
            <label>Animal Category</label>
            <div class="form-group has-feedback">
                @Html.DropDownListFor(model => model.VAnimalTypeId, Model.VAnimalTypes, "Select Category", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VAnimalTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <label>Select an Animal</label>
            <div class="form-group has-feedback">
                @Html.DropDownListFor(model => model.MAnimalId, Model.Manimallist, "Select Animal", new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.VAnimalId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="col-md-3">

        </div>
    </div>


    <div class="row">

        <div class="col-md-3">

        </div>

        <div class="col-md-3">
            <label>Date From</label>
            <div class="form-group has-feedback">
                @Html.EditorFor(model => model.DateMin, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.DateMin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <label>Date To</label>
            <div class="form-group has-feedback">
                @Html.EditorFor(model => model.DateMax, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.DateMax, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="col-md-3">

        </div>

    </div>

    <div class="row">

        <div class="col-md-3">

        </div>

        <div class="col-md-3">
            <label>Morning Amount Min</label>
            <div class="form-group has-feedback">
                @Html.EditorFor(model => model.MorningAmountMin, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.MorningAmountMax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <label>Morning Amount Max</label>
            <div class="form-group has-feedback">
                @Html.EditorFor(model => model.MorningAmountMax, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.MorningAmountMax, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="col-md-3">

        </div>

    </div>

    <div class="row">

        <div class="col-md-3">

        </div>

        <div class="col-md-3">
            <label>Afternoon Amount Min</label>
            <div class="form-group has-feedback">
                @Html.EditorFor(model => model.AfternoonAmountMin, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.AfternoonAmountMin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <label>Afternoon Amount Max</label>
            <div class="form-group has-feedback">
                @Html.EditorFor(model => model.AfternoonAmountMax, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.AfternoonAmountMax, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="col-md-3">

        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
            <label>&nbsp;</label>
            <div class="form-group has-feedback">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Search</button>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped">
        <tr>
            <th id="table-header">
                Date
            </th>
            <th id="table-header">
                Animal Code Name
            </th>
            <th id="table-header">
                Morning Amount
            </th>
            <th id="table-header">
                Afternoon Amount
            </th>
            
            <th id="table-header">
                Operator Name
            </th>
          
        </tr>

        @foreach (var item in Model.milkProductions)
        {
        <tr>
            <td id="table-header">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td id="table-header">
                @Html.DisplayFor(modelItem => item.animal.AnimalCodeName)
            </td>
            <td id="table-header">
                @Html.DisplayFor(modelItem => item.MorningAmount)
            </td>
            <td id="table-header">
                @Html.DisplayFor(modelItem => item.AfternoonAmount)
            </td>
            
            <td id="table-header">
                @Html.DisplayFor(modelItem => item.OperatorName)
            </td>
           

        </tr>
        }

    </table>
}

