@model IEnumerable <AgroExpress.DataLayer.Models.Product>
@{
    ViewBag.Title = "DisabledProduts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div><h2 style="text-align:center">Disabled Product List</h2></div>
<div>&nbsp;</div>
<div>
    <table class="table table-bordered table-striped">
        <tr>
            <th id="table-header">
                &nbsp;
            </th>
            <th id="table-header">
                &nbsp;
            </th>
            <th id="table-header">
                Product Name
            </th>
            <th id="table-header">
                Selling Unit
            </th>
            <th id="table-header">
                Stock
            </th>
            <th id="table-header">
                Operation
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td id="table-header">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td id="table-header">
                @Html.DisplayFor(modelItem => item.SellingUnit)
            </td>
            <td id="table-header">
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td id="table-header">
                @Html.ActionLink("Edit", "Edit", new { id = item.PKProductId }) |
                @Html.ActionLink("Enable", "Enable", new { id = item.PKProductId }, new { onclick = "return confirm('Are you sure you wish to enable this product?');" })

            </td>

        </tr>
        }

    </table>
</div>

